<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1 th:text="${#httpServletRequest.requestURI.substring('/files'.length)}"></h1>
</div>
<div>
    <a th:text="'/..'" th:href="${baseUrl}+${prevDirectory}" th:if="${!#strings.isEmpty(prevDirectory)}"></a>
</div>
<div>
    <tr th:each="directory: ${directories}">
        <td>
            <div>
                <a th:text="'/'+${directory.name}" th:href="${#httpServletRequest.requestURI}+'/'+${directory.name}"></a>
            </div>
        </td>
    </tr>
</div>

<div>
    <tr th:each="file: ${files}">
        <td>
            <div>
                <a th:text="'/'+${file.fileName}" th:href="'/files/download'+'?id='+${file.id}"></a>
            </div>
        </td>
    </tr>
</div>
<br/>
<div>
    <form method="post" enctype="multipart/form-data" action="/files/upload">
        <input type="file" name="file" required="required">
        <input type="submit" value="Upload">
        <input type="hidden" name="path" th:value="${pathToUpload}">
    </form>
</div>
</body>
</html>